export GMAIL_ACCOUNT=
export GMAIL_AUTH_TOKEN=
export PKS_API_HOSTNAME=
export OM_TARGET=
export OM_USERNAME=
export OM_PASSWORD=
export NAMESPACE=monitoring
export PKS_API_MONITOR_SECRET=
export BOSH_UAA_CLIENT_ID=
export BOSH_UAA_CLIENT_SECRET=
export FOUNDATION=
export PIVNET_TOKEN=
export HARBOR_HOSTNAME=
export HARBOR_ADMIN_PASSWORD=
