# Cert files
*.crt
*.key
*.pem

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Visual Studio Code artifacts
.vscode

# OS turds
.DS_Store

# Secrets
creds.yml

# Direnv
.envrc

# Bosh target groups for reference
bosh_target_groups.json

# Python
venv

# IDE
.idea

# Ruby
.ruby-version
