# Cert files
*.crt
*.key
*.pem

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Visual Studio Code artifacts
.vscode

# OS turds
.DS_Store

# Direnv
.envrc

# Bosh target groups for reference
bosh_target_groups.json

