---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: malston/pks-control-plane
  #   repository: harbor.haas-420.pez.pivotal.io/library/malston/pks-control-plane
  #   insecure_registries: [harbor.haas-420.pez.pivotal.io]
    tag: 0.0.1

inputs:
  - name: repo

run:
  path: repo/ci/tasks/helm-lint/task.sh

params:
  RELEASE:
